<a href="https://colab.research.google.com/github/DigvijayPhutane/Codechef_python_problem_solving/blob/main/codechef_python_problems.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# NUMBER OF CREDITS PROBLEM DIFF LEVEL 306
Problem
In the current semester, you have taken X RTP courses, Y Audit courses and Z Non-RTP courses.

The credit distribution for the courses are:
4 credits for clearing each RTP course.
2 credits for clearing each Audit course.
No credits for clearing a Non-RTP course.
Assuming that you cleared all your courses, report the number of credits you obtain this semester.

Input Format
The first line contains a single integer T, the number of test cases. TT test cases follow. Each test case consists of one line, containing 3 integers separated by spaces.
The first integer is X, the number of RTP courses.
The second integer is Y, the number of Audit courses.
The third integer is Z, the number of non-RTP courses.
Output Format
The output must consist of T lines. The ith
  should consist of a single integer: the number of credits one gets for the ith
  test case.
  Input

4
6 6 5
8 7 2
9 3 8
9 2 4
output
36
46
42
40

In [ ]:
T = int(input())
for i in range(T):
    X,Y,Z = map(int,input().split(' '))
    A = X * 4 
    B = Y * 2 
    C = Z * 0
    print(A+B+C)