<a href="https://colab.research.google.com/github/DigvijayPhutane/Codechef_python_problem_solving/blob/main/codechef_python_problems.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# NUMBER OF CREDITS PROBLEM DIFF LEVEL 306
Problem
In the current semester, you have taken X RTP courses, Y Audit courses and Z Non-RTP courses.

The credit distribution for the courses are:
4 credits for clearing each RTP course.
2 credits for clearing each Audit course.
No credits for clearing a Non-RTP course.
Assuming that you cleared all your courses, report the number of credits you obtain this semester.

Input Format
The first line contains a single integer T, the number of test cases. TT test cases follow. Each test case consists of one line, containing 3 integers separated by spaces.
The first integer is X, the number of RTP courses.
The second integer is Y, the number of Audit courses.
The third integer is Z, the number of non-RTP courses.
Output Format
The output must consist of T lines. The ith
  should consist of a single integer: the number of credits one gets for the ith
  test case.
  Input

4
6 6 5
8 7 2
9 3 8
9 2 4
output
36
46
42
40

In [ ]:
T = int(input())
for i in range(T):
    X,Y,Z = map(int,input().split(' '))
    A = X * 4 
    B = Y * 2 
    C = Z * 0
    print(A+B+C)

On a certain train, Chef-the ticket collector, collects a fine of Rs. X if a passenger is travelling without a ticket. It is known that a passenger carries either a single ticket or no ticket.

P passengers are travelling and they have a total of Q tickets. Help Chef calculate the total fine collected.

Input Format
The first line contains a single integer T, the number of test cases. T lines follow. Each following line contains three integers separated by spaces, whose description follows.

The first integer, X, is the fee in rupees.
The second integer, P, is the number of passengers on the train.
The third integer, Q, is the number of tickets Chef collected.
Output Format
The output must consist of T lines.

The i^{th}i 
th
  line must contain a single integer, the total money(in rupees) collected by Chef corresponding to the i^{th}i 
th
  test case.
  Explanation:
Test case 1: The total number of passengers travelling without ticket are 1 - 1 = 0. So the total fine collected is 0*4 = 0 rupees.
Test case 2: The total number of passengers travelling without ticket are 10âˆ’7=3. So the total fine collected is 3*2=6 rupees.

In [ ]:
T = int(input())
for i in range(T):
    X,P,Q = map(int,input().split(' '))
    W = P - Q
    F = W*X 
    print(F)

In [ ]:
#CAR Trip problem
# cook your dish here
T = int(input())
for i in range(T):
    x = int(input())
    if(x<=300):
        print(300*10)
    else:
        print(x*10)

In [ ]:
#Ticket Fine
T = int(input())
for i in range(T):
    X,P,Q = map(int,input().split(' '))
    W = P - Q
    F = W*X 
    print(F)

In [ ]:
#Car trip 
# cook your dish here
T = int(input())
for i in range(T):
    x = int(input())
    if(x<=300):
        print(300*10)
    else:
        print(x*10)

In [ ]:
#Greater Average
# cook your dish here
T = int(input())
for i in range(T):
    A,B,C  = map(int,input().split())
    if ((A+B)/2> C):
        print("YES")
    else:
        print("NO")

In [ ]:
#Weights
# cook your dish here

T = int(input())
for i in range(T):
    W,X,Y,Z = map(int,input().split(' '))
    if(W==X+Y or W==Y+Z or W==X+Z or W==X+Y+Z or W==X or W==Y or W==Z):
        print("YES")
    else:
        print("NO")

In [ ]:
#add to numbers 
# You don't need to add/edit anything to the below solution. 
# Click on the SUBMIT button to solve your first problem on CodeChef.

#Read the number of test cases.
T = int(input())
for i in range(T):
	# Read integers a and b.
	(a, b) = map(int, input().split(' '))
	
	ans = a + b
	print(ans)

In [ ]:
#Age limit 
# cook your dish here
t = int(input())
for i in range(t):
    X,Y,A = map(int,input().split(' '))
    if(X<=A and Y>A):
        print("YES")
    else:
        print("NO")

In [ ]:
#Biryani Classes 
# cook your dish here

T = int(input())
for i in range(T):
    X,Y = map(int,input().split(' '))
    print(X*Y)

In [ ]:
#fitness
# cook your dish here
T = int(input())
for i in range(T):
    X = int(input())
    print(X*2*5)

In [ ]:
#BURGERS
# cook your dish here
T = int(input())
for i in range(T):
    A,B = map(int,input().split())
    print(min(A,B))

In [ ]:
#HOW MANY UNATTEMPTED PROBLEMS
# cook your dish here
X,Y = map(int,input().split(' '))
print(X-Y)

In [ ]:
#who is taller
# ok your dish here
T = int(input())
for i in range(T):
    X,Y = map(int,input().split(' '))
        print("B")
    if (X<Y):
    else:
        print("A")

In [ ]:
#Enough space
# cook your dish here
T = int(input())
for i in range(T):
    N,X,Y = map(int,input().split(' '))
    if ((X+Y*2)<=N):
        print("YES")
    else:
        print("NO")

In [ ]:
#Lunch-time
# cook your dish here
T = int(input())
for i in range(T):
    X = int(input())
    if (X>=1 and X<=4):
        print("YES")
    else:
        print("No")

In [ ]:
#apple and oranges 
# cook your dish here
X = int(input())
A,B = map(int,input().split(' '))
if((A+B)<=X):
    print("YES")
else:
    print("NO")

In [ ]:
# The cheaper Cab
# cook your dish here
T=int(input())
for i in range(T):
    X,Y=map(int,input().split(' '))
    if X<Y:
        print("FIRST")
    elif X==Y:
        print("ANY")
    else:
        print("SECOND")