<a href="https://colab.research.google.com/github/DigvijayPhutane/Codechef_python_problem_solving/blob/main/codechef_python_problems.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# CodeChef_Python_Coding problems

In [ ]:
#Number of credits
T = int(input())
for i in range(T):
    X,Y,Z = map(int,input().split(' '))
    A = X * 4 
    B = Y * 2 
    C = Z * 0
    print(A+B+C)

In [ ]:
#CAR Trip problem
# cook your dish here
T = int(input())
for i in range(T):
    x = int(input())
    if(x<=300):
        print(300*10)
    else:
        print(x*10)

In [ ]:
#Ticket Fine
T = int(input())
for i in range(T):
    X,P,Q = map(int,input().split(' '))
    W = P - Q
    F = W*X 
    print(F)

In [ ]:
#Car trip 
# cook your dish here
T = int(input())
for i in range(T):
    x = int(input())
    if(x<=300):
        print(300*10)
    else:
        print(x*10)

In [ ]:
#Greater Average
# cook your dish here
T = int(input())
for i in range(T):
    A,B,C  = map(int,input().split())
    if ((A+B)/2> C):
        print("YES")
    else:
        print("NO")

In [ ]:
#Weights
# cook your dish here

T = int(input())
for i in range(T):
    W,X,Y,Z = map(int,input().split(' '))
    if(W==X+Y or W==Y+Z or W==X+Z or W==X+Y+Z or W==X or W==Y or W==Z):
        print("YES")
    else:
        print("NO")

In [ ]:
#add to numbers 
# You don't need to add/edit anything to the below solution. 
# Click on the SUBMIT button to solve your first problem on CodeChef.

#Read the number of test cases.
T = int(input())
for i in range(T):
	# Read integers a and b.
	(a, b) = map(int, input().split(' '))
	
	ans = a + b
	print(ans)

In [ ]:
#Age limit 
# cook your dish here
t = int(input())
for i in range(t):
    X,Y,A = map(int,input().split(' '))
    if(X<=A and Y>A):
        print("YES")
    else:
        print("NO")

In [ ]:
#Biryani Classes 
# cook your dish here

T = int(input())
for i in range(T):
    X,Y = map(int,input().split(' '))
    print(X*Y)

In [ ]:
#fitness
# cook your dish here
T = int(input())
for i in range(T):
    X = int(input())
    print(X*2*5)

In [ ]:
#BURGERS
# cook your dish here
T = int(input())
for i in range(T):
    A,B = map(int,input().split())
    print(min(A,B))

In [ ]:
#HOW MANY UNATTEMPTED PROBLEMS
# cook your dish here
X,Y = map(int,input().split(' '))
print(X-Y)

In [ ]:
#who is taller
# ok your dish here
T = int(input())
for i in range(T):
    X,Y = map(int,input().split(' '))
        print("B")
    if (X<Y):
    else:
        print("A")

In [ ]:
#Enough space
# cook your dish here
T = int(input())
for i in range(T):
    N,X,Y = map(int,input().split(' '))
    if ((X+Y*2)<=N):
        print("YES")
    else:
        print("NO")

In [ ]:
#Lunch-time
# cook your dish here
T = int(input())
for i in range(T):
    X = int(input())
    if (X>=1 and X<=4):
        print("YES")
    else:
        print("No")

In [ ]:
#apple and oranges 
# cook your dish here
X = int(input())
A,B = map(int,input().split(' '))
if((A+B)<=X):
    print("YES")
else:
    print("NO")

In [ ]:
# The cheaper Cab
# cook your dish here
T=int(input())
for i in range(T):
    X,Y=map(int,input().split(' '))
    if X<Y:
        print("FIRST")
    elif X==Y:
        print("ANY")
    else:
        print("SECOND")